body {
  margin: 0px;
  background-color: #f6f6f8;
}


/*Nav Bar*/

.nav-title {
  font-size: 20px;
  float: left;
}

.nav {
  position: sticky;
  top: 0;
  font-size: 20px;
  background-color: #99c2ff;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: right;
}
.nav a {
  padding-right: 25px;
  color: white;
  text-decoration: none;
}

.nav li {
  display: inline-block;
  list-style: none;
}

.nav ul {
  padding-right: 23px;
}

/*Nav Bar*/

/*Info Page*/

.info-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*Info Page*/

/*Examples Page*/

.examples-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*Examples Page*/

/*Pricing Page*/

.pricing-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*Pricing Page*/

/*Contact Page*/

.contact-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*Contact Page*/

/*Footer*/


/*.contact-footer {
  position: relative;
  bottom: 0;
  background-color: #99c2ff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.contact-footer-title h1 {
  font-size: 50px;
  margin: 0;
  font-weight: 400;
}

.contact-footer-body {
  font-size: 20px;
}

.contact-footer-contact-info {
  color: white;
  font-size: 20px;
}
.contact-footer-contact-info a {
  color: white;
  font-size: 20px;
}
